@import '../../global/global';

.pokemon-details-page {
  background-color: #61dafb;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: absolute;

  .pokemon-details-panel {
    background-color: #30A7D7;
    border-radius: 10%;
    border: 0.0625rem solid black;
    width: 95%;
    height: 95%;
    position: absolute;
    top: 2.5%;
    left: 2.5%;
    bottom: 2.5%;
    right: 2.5%;
    overflow: hidden;
    box-shadow: 0 0 0.625rem 0 rgba(0, 0, 0, 0.5);

    .pokemon-name-logo {
      width: 100%;
      height: 10%;
      display: flex;
      justify-content: center;
      background-color: #218aAb;
      border-radius: 10%;
      border-bottom: 0.0625rem solid black;
      align-items: center;

      img {
        width: 4.25rem;
        height: 3.125rem;
        align-self: center;
        float: left;
      }

      h1 {
        font-size: 2rem;
        text-transform: capitalize;
      }
    }

    .pokemon-data-holder {
      display: flex;
      height: 70%;
      flex-direction: row;
      //max-height: 60%;

      .pokemon-artwork-holder {
        width: 50%;
        display: flex;
        justify-content: center;
        //align-items: center;

        .pokemon-artwork {
          display: flex;
          justify-content: center;
          max-height: 100%;
          aspect-ratio: 1/1;

          img {
            display: flex;
            align-self: center;
            width: 90%;
            height: fit-content;
            background-color: #f2f2f2;
            border-radius: 5%;
          }
        }

        @media (max-width: 850px) {
          width: 100%;
          height: 50%;
        }
      }

      .pokemon-infos-holder {
        width: 50%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        .pokemon-infos {
          width: 90%;
          overflow: scroll;
          // Hide cursors
          &::-webkit-scrollbar {
            display: none;
          }

          .pokemon-description {
            h2 {
              font-size: 1.5rem;
            }

            select {
              text-align: center;
              text-transform: capitalize;
              font-size: 0.8rem;
              border-radius: 5%;
            }

            p {
              font-size: 1.2rem;
            }
          }

          .pokemon-size-types {
            ul {
              list-style-type: none;
              display: flex;
              justify-content: space-around;
              //margin-top: 20px;
              padding: 0;
              margin: 0;

              li {
                p {
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  font-size: 1.2rem;
                  text-transform: capitalize;

                  img {
                    width: 1.875rem;
                    height: 1.875rem;

                    border-radius: 50%;
                    background-color: white;
                    border: 0.0625rem solid black;
                  }
                }
              }
            }

            div {
              display: flex;
              flex-direction: row;
              justify-content: space-around;

              p {
                font-size: 1.2rem;
                text-transform: capitalize;
              }
            }
          }
        }

        @media (max-width: 850px) {
          width: 100%;
          height: 50%;
        }
      }

      @media (max-width: 850px) {
        flex-direction: column;
      }
    }

    .pokedex-details-controls {
      display: flex;
      justify-content: space-around;
      align-items: center;
      //bottom: 5%;
      //position: relative;
      width: 100%;
      height: 20%;

      button {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        position: relative;

        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 0.9375rem;
        border: 0.0625rem #282c34 solid;
        width: 30%;
        font-size: 1.2rem;
        text-transform: capitalize;
        height: 3rem;

        &:hover {
          cursor: pointer;
          background-color: #ff5447;
        }

        &:active {
          background-color: rgba(255, 255, 255, 0.0);
        }
      }

      .button-previsous-pokemon-details {

      }

      .button-next-pokemon-details {
      }

      .button-exit-details-page {
      }
    }
  }
}
