.pokedex-description {
  padding: 2.5rem;
  font-size: 1.250rem;
  background-color: rgba(100, 200, 255, 0.5);

  border: 0.125rem solid black;
  border-radius: 0.625rem;
  margin: 0.625rem;

  .github-contributors {
    display: inline-flex;

    .github-pdp-link {
      display: block;

      figure {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        border: 0.125rem solid black;
        border-radius: 0.3125rem;
        padding: 0.625rem;
        margin: 0.625rem;
      }

      .github-pdp {
        width: 20%;
        text-align: center;
        border-radius: 50%;
      }
    }
  }
}
