html {
    background-color: #61dafb;
}

.pkm-number-list {
    background-color: white;
    border: 1px solid black;
    border-radius: 40px;
    padding: 10px;
    margin-top: 10px;
    /*margin-left: 50px;*/
    /*margin-right: 50px;*/
    text-align: center;
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: center;
}

.pkm-number-list:hover {
    background-color: yellow;
    cursor: pointer;
}

.text-list {
    width: 100%;
    top: 50%;
    vertical-align: center;
    justify-content: center;
    align-content: center;
    text-transform: capitalize;
}

.pkm-number-list img {
    margin-top: -15px;
}


.left {
    width: 50%;
}

.right {
    width: 50%;
    overflow-y: scroll;
    height: 400px;
}

.list-and-preview {
    display: flex;
}

.pokemon-name {
    padding: 10px;
    border: 1px solid black;
    display: flex;
    box-shadow: 1px 1px 12px #555;
    text-transform: capitalize;
}

.pokemon-name p {
    width: 100%;
    text-align: center;
}

.name-searchbar {
    display: flex;
    width: 100%;
}

.name-searchbar .pokemon-name {
    width: 50%;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;

}

.name-searchbar input {
    width: 100%;
    height: 100%;
    text-align: center;
}

.left-content {
    width: 100%;
}

.left {
    padding: 10px;
    width: 50%;
    text-align: center;
}

.left img {
    border: 10px solid white;
    background-color: black;
}
