@import '../../global/global';

.pokemon-elem {
  padding: 0.3125rem;
  min-width: 70%;
  max-width: 70%;
  text-align: center;
  background-color: white;
  margin: 0.9375rem auto auto;
  border-radius: 0.9375rem;
  border: 0.0625rem #282c34 solid;
  opacity: 0.5;
  font-size: 1.5625rem;
  user-select: none;
  display: block;
  align-items: center;
  justify-content: center;
  height: 7vh;

  img {
    float: left;
    top: 0;
    left: 0;
  }

  @include buttonSelection;
}

.selected {
  @include buttonSelected;
}
