.github-repo {
  color: white;
}

.github-links {
  text-decoration: none;
  color: white;
  padding: 0.3125rem;
}

.github-links:hover {
  background-color: #EEEEEE;
  color: black;
  border-radius: 0.3125rem;
}

.github-icon {
  width: 1.25rem;
  height: 1.25rem;
  margin: 0 0 0 0.3125rem;
  position: relative;
  top: 0.3125rem;
}
