.github-repo {
  color: white;
}

.github-links {
  text-decoration: none;
  color: white;
  padding: 5px;
}

.github-links:hover {
  background-color: #EEEEEE;
  color: black;
  border-radius: 5px;
}

.github-icon {
  width: 20px;
  height: 20px;
  margin: 0 0 0 5px;
  position: relative;
  top: 5px;
}
