.pokemon-elem {
  padding: 5px;
  width: 80%;
  text-align: center;
  background-color: white;
  margin: 15px auto auto;
  border-radius: 15px;
  border: 1px #282c34 solid;
  display: block;
}

.pokemon-elem:hover {
  background-color: coral;
  cursor: zoom-in;
}

.content {
  display: inline-flex;
  width: 100%;
}

.right {
  width: 100%;
  background-color: #61dafb;
}

.left {
  width: 100%;
}

.search-bar {
  width: 95%;
  background-color: limegreen;
  border: 1px solid black;
  padding: 15px;
  border-radius: 20px;
  text-align: center;
  font-size: 20px;
  height: 10vh;
}

.list-content {
  height: 90vh;
  overflow: scroll;
  overflow-x: hidden;
}
