body, html {
  margin: 0;
  padding: 0;
  background-color: #61dafb;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 16px;

  $min-width-start: 256px;
  $min-width-increment: 256px;
  $font-size-start: 9px;
  $font-size-increment: 2px;

  @for $i from 0 through 29 {
    $min-width: $min-width-start + ($i * $min-width-increment);
    $font-size: $font-size-start + ($i * $font-size-increment);

    @media (min-width: #{$min-width}) {
      font-size: #{$font-size};
    }
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
